.dockBar {
	width: 100%;
	flex: 1;
	display: flex;
	position: relative;
}

.taskBar {
	display: flex;
	align-items: center;
	margin-left: 0.5rem;	
}

.startBtn {
	font-style: italic;
	font-weight: 900;
	font-family: 'Arial';
	padding: 0.6rem;
	user-select: none;
	height:  100%;	
	background-color: rgba(88, 248, 88, 0.786);
	color: #fff;
	cursor: pointer;
	width: 100px;
}
